$displayfont: "TrajanusBricksXtra";
$headlinefont: "TrajanusBricks";
$bookfont: "Trajan Pro";
$largefont: "Goudy Bookletter 1911", "Trajan Pro";
$grabfont: "Avenir Book";
$bodyfont: "Quattrocento";

$deepred: #551111;

body
{
	font-family: $bodyfont;
	font-size: 20pt;
	color: $deepred;

  h1, h2, h3, h4, h5, h6
  {
    font-family: $headlinefont;
  }
}

h1
{
  font-size: 150%;
  string-set: monom content();
}

h4
{
  counter-increment: sectionhead;
}

table
{
  font: inherit;
  width: 100%;
  border-collapse: collapse;

  .summa
  {
    text-align: right;
  }
}

#main
{
}

#summary
{
	margin: 1em;
	font-size: 50%;

  @media print
  {
    margin-top: 15em;
  }
}

#contact
{
	margin-top: 1em;
	margin-bottom: 1em;
}

#yeardiff
{
  content: prince-script(yearDiff, 1993);
}

.rhetorical
{
  font-family: $largefont;
  page-break-after: always;
  text-align: justify;
  width: 60%;
  margin-left: 20%;
  font-size: 75%;

  &:first-letter
  {
    font-family: $displayfont;
  }
}

.entry, .etcetera
{
	border: 1px solid #000;
	padding: 0.25em;
	font-size: 60%;
	margin: 1em;
	color: #111111;
  page-break-inside: avoid;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
}

.period
{
	padding: 1px;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
	//  background: #551111;
	//  color: #ddeeee;
  font-style: italic;
  font-family: $bookfont;
	font-size: 95%;

  &:first-letter
  {
    color: $deepred;
  }

  .gap
  {
    margin-right: 0.5em;
    font-family: $largefont;
    font-style: normal;

    &:after
    {
      //  content: ": ";
    }
  }
}

#nowstuff
{
  vertical-align: bottom;
}

#addy
{
  string-set: mailaddy content();
}

#monom
{
  @media print
  {
    line-height: 0em;
    text-align: right;
  }
}

#tagline
{
  font-size: 50%;
  font-family: $bookfont;
  @media print
  {
    line-height: 0em;
    text-align: right;
  }
}

@page
{
  size: a4 landscape;
  font-family: $grabfont;

  @top-center
  {
    content: string(mailaddy);
  }

  @bottom-left
  {
    content: string(monom);
  }

  @bottom-left-corner
  {
    //  content: "[" prince-script(thisYear) "] ";
  }

  @bottom-right-corner
  {
    content: "Page " counter(page, upper-roman);
  }

  @bottom-center
  {
    content: prince-script(thisYear);
  }
}

@page:first
{
  @top
  {
    content: "";
  }

  @bottom-right-corner
  {
    content: "";
  }

  @bottom-right
  {
    content: "";
  }

  @bottom-center
  {
    content: prince-script(thisYear);
  }

  @bottom-left
  {
    content: "";
  }
}

ol
{
  list-style: lower-roman;
}


.footnote
{
  font-size: 85%;
  font-family: $largefont;
  float: footnote;
  display: inline;

  @media screen
  {
    margin-left: 0.5em;
    
    &:before
    {
      content: "(";
    }

    &:after
    {
      content: ")";
    }
  }

  .linked
  {
    &:after
    {
      content: " (page " target-counter(attr(href), page, upper-roman) ")";
    }
  }

  &:footnote-marker
  {
    font-style: italic;
  }
}
